*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #EAEAEA;
}
header{
    display:flex;
    height: 6vh;
    justify-content: space-between;
    background-color: #6500FF ;
    align-items: center;
    padding: 10px;

}

.logo{
    display: flex;
    align-items: center;
}
.logo_img{
width: 5vh;
}
.contacto{
    text-decoration: none; 
    color: white;
    font-weight: 300;   
    padding: 40px;
    font-size: 25px;
    
}
main{
    display: flex;
    justify-content: center;
    width: 100%;

}
h2{
    text-align: center;
}
.info_general{
    width: 100%;
    margin-top:2%;
    text-align: center;
}
.div_info{
    margin: 10%;
    text-align: center;
    background-color:#FBFBFB;;
}
.usuario_img{
    display: flex;
    width: 20%;
    border-radius: 50%;
}

.r_comicion{
    background-color: #FBFBFB;
    text-align: center;
    position: relative;
    margin-top: 2%;
}

.comision{
    width: 100%;
    top: 1px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 70px;
}
.logo a{
    text-decoration: none;
    color: white;
}
.usuarios{
    background-color: rgb(255, 255, 255);
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
    
}
.info_1{
    margin-top: 20px;
    padding: 8px;
}
.comision{
    display: flex;
    flex-direction: column;
    
}

.span{
    position: relative;
    width: 10%;
    height: 10%;
    background-color: #F0474C;
    color: white;
    
}
.icons{
    position: relative;
    right: 4%;
}

@media (max-width:912px) {
    main{
        display: flex;
        flex-direction: column;
    }
    .logo{
        gap: 2px;
    }   
}
@media (max-width:480px) {
    .contacto{
        text-decoration: none; 
        color: white;
        font-weight: 300;   
        padding: 1vh;
        font-size: 25px;
    }
    .logo_img{
        padding:1px;
    }
    .usuarios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1vh;
    }
    .info_1{
        text-align: center;
    }
    .usuario_img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}