
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
 
}

main {
  display: flex;
  padding: 3%;
  margin: 3%;

  gap: 30px;
}

button {
 background-color: #6500ff;
 color: white;
} 



/* INICIO NAV */

a {
  text-decoration: none;
  color: white;
  padding-left: 3%;
}

nav {
  position: static;
  width: 100%;
  background-color: #6500ff;
  display: inline-block;
  color: white;
  font-size: large;
  height: 15%;
}


 .logo { 
   width: 2px;
   height: 10px;
  }
  
  .nav_editar {
    color: white;
    padding: 10px;
    text-decoration: none;
  }

/* FIN NAV */




/*CODIGO PAGINA PERFIL*/
.perfil {
  height: 130px;
  width: 20%;
  padding-right: 30%;
}

.foto_perfil {
  width: 200px;
  height: 30%;
  padding-bottom: 40px;
}

.contenido {
  display: flex;
  justify-content: center;
   
  gap: 50px;
  background-color: #d9d9d9;
  width: 80%;
  height: 500px;
 }

/*TERMINAR PAGINAS Y COMMIT*/






 /* INICIO SECTION CARRITO*/

 .contenedor {

 display: flex;
  height: 85vh;
 }

 .section_perfil {
justify-content: center;
flex: 1;

  width: 49px;
  height: 100vh;
 }

 .cont_hijo1 { 
  padding-top: 10%;
  padding-left: 15%;
 }

 .section_perfil { 

  width: 80px;

 }
 .contenedor_perfil{

background-color: #D9D9D9;
width: 100%;
border-radius: 40px ;
height: 700px;
margin-top: 40px;

 }

 .boton_carrito {
width: 141px;
height: 55px;
left: 569px;
top: 185px;
border-radius: 25px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

 }


 
 /* FIN SECTION CARRITO*/