* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
}

main {
  display: flex;
  padding: 3%;
  margin: 3%;
}

button, input#button  {
  background-color: #6500ff;
  color: white;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25, 0.50));
}

button, input#button:hover {

  cursor: pointer;
background-color: #8c46f5;
}




/* INICIO NAV */

a {
  text-decoration: none;
  color: white;
  padding-left: 3%;
}

nav {
  position: static;
  width: 100%;
  background-color: #6500ff;
  display: inline-block;
  color: white;
  font-size: large;
  height: 15%;
}

.logo {
  width: 2px;
  height: 10px;
}

.nav_editar {
  color: white;
  padding: 10px;
  text-decoration: none;
}

/* FIN NAV */

/*CODIGO PAGINA PERFIL*/
.perfil {
  height: 130px;
  width: 20%;
  padding-right: 30%;
}

.foto_perfil {
  width: 200px;
  height: 30%;
  padding-bottom: 40px;
}

.contenido {
  display: flex;
  justify-content: center;

  gap: 50px;
  background-color: #d9d9d9;
  width: 80%;
  height: 500px;
}

/*TERMINAR PAGINAS Y COMMIT*/

/* INICIO SECTION CARRITO*/

.contenedor {
  display: flex;
  height: 90%;
justify-content: start;

}

.section_perfil {
  padding-right: 10%;
  height: 60vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.cont_info {
  padding-top: 10%;
  padding-left: 15%;
}

.contenedor_perfil {
  background-color: #d9d9d9;
  width: 100%;
  border-radius: 40px;
  height: 100%;
  margin-top: 40px;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: start;
  

}
.section_contenido { 
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: 70vh;
}

.boton_carrito {
  width: 141px;
  height: 55px;
  left: 569px;
  top: 185px;
  border-radius: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25, 0.50));
}

.buscador { 
  border: none;
  font-size: 20pt;
  background-color: #d9d9d9;
  border-radius: 25px;
  height: 40px;
  margin-left: 20%;
 padding-left: 5%;
  width: 60%;
}

.cont_buscador { 

  display: flex;
  align-items: center;
  gap: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25, 0.50));
}

.contenido_perfil { 

  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  margin-left: 5%;
  justify-content: space-around;
  width: 90%;
  height: 20%;
  border-radius: 45px;
  margin-top: 30px;
  

}
.imagen_producto {
  margin-right: 10px;
  border-radius: 30px;
  height: 40%;
  width: 40%;
}

.boton_producto {
  border-radius: 25px;
  height: 35px;
  width: 10%;

}

#negacion {
  margin-left: -40px;
  background-color: #F0474C;
  color: white;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25, 0.50));

}

#negacion:hover { 
  cursor: pointer;
  background-color: #fc1515;
}

.contenido_producto {
display: flex;
justify-content: space-around;
flex-direction: row;
align-items: center;
}

#producto { 

  text-align: start;
}

/* FIN SECTION CARRITO*/
