body{
    margin: 0;
    background-color: #EAEAEA;
}
header{
    display:flex;
    height: 21px;
    justify-content: space-between;
    background-color: #6500FF ;
    align-items: center;
    padding: 10px;

}
.logo_img{
    height: 40px;
    margin-right: 10px;
    padding: 40px;
}

.contacto{
    position: absolute;
    text-decoration: none;
    color: white;
    font-weight: 300;   
    padding: 40px;
    font-size: 25px;
    
   
}
.texto_1{
    position: absolute;
    width: 300px;
    height: 80px;
    left: 690px;
    top: 173px;
    font-family: 'Arimo Hebrew Subset Italic';
    font-style: italic;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 45%;
    color: #000000;
    
    
    
    }
    
    .div_prsio {
        position: absolute;
     right: 25%;
     top: 170%;
     font-size: 25px;
    }
    
    .boton_1{
        position: absolute;
     right: 38%;
     top: 360%;
     border: none;
     padding: 10px 20px;
    color: white;
    font-size: 25px;
    background: #F0474C;
    border-radius: 10px;
    width: 30%;
    cursor: pointer;
    right: 34%;
    
    
    }
    .producto{
        position: absolute;
        right: 55%;
        top: 170%;
        width: 40%;
        background-color:  #6500FF;
        box-shadow: 8px 5px 10px #6500FF;
        color: white;
    }
    
    .boton_2{
        position: absolute;
     right: 38%;
     top: 460%;
     border: none;
     padding: 10px 20px;
    color: white;
    font-size: 25px;
    background: #33984F;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    right: 23%;
    
    }

    .marco{
    
    width: 45%;
    height: 80%;
    left: 44px;
    top: 130px;

    background: #F5F5F5;
    border-radius: 10px;
    }
    form{
        text-align: center;
        position: absolute;
        left: 44px;
        background-color: #F5F5F5;
        height: 83%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        border-radius: 10px;
        top: 100px;
    }
    .for_1{
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        position: absolute;
        top: 70px;
        font-size: 24px;

    }
.input_1{
    width:260%;
    border: none;
    box-shadow: 8px 5px 10px #7e7d7d;
    height: 25px;
    border-radius: 5px;
}

.for_2{
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    position: absolute;
    top: 270px;
    font-size: 24px;
}

.input_2{
    width:136%;
    border: none;
    box-shadow: 8px 5px 10px #7e7d7d;
    height: 25px;
    border-radius: 5px;
    position: absolute;
    top: 27px;

}
.for_3{
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    position: absolute;
    top: 2px;
    font-size: 24px;
    left: 350px;

}

.input_3{
    width:126%;
    border: none;
    box-shadow: 8px 5px 10px #7e7d7d;
    height: 25px;
    border-radius: 5px;
    position: absolute;
    top: 25px;
}

.for_4{
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    position: absolute;
    top: 170px;
    font-size: 24px;
}

.input_4{
    width:126%;
    border: none;
    box-shadow: 8px 5px 10px #7e7d7d;
    height: 25px;
    border-radius: 5px;
    position: absolute;
    top: 25px;
}



